{% extends 'base.html' %}
{%block content%}
{%load static%}
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							{%for slider in sliders%}
							{%if slider.rank == 1%}
								<div class="item active">
							{%elif slider.rank != 1%}
								<div class ="item">
							{%endif%}
								<div class="col-sm-6">
									<h1>{{slider.name}}</h1>
									<h2>100% Responsive Design</h2>
									<p>{{slider.description}}</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{slider.image.url}}" class="girl img-responsive" alt="" />
									<img src="{%static 'images/home/pricing.png'%}"  class="pricing" alt="" />
								</div>
							</div>
							{%endfor%}

							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{%for cat in categories%}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/category/{{cat.slug}}">{{cat.name}}</a></h4>
								</div>
							</div>
							{%endfor%}

						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									{%for brand in brands %}
									<li><a href="/brand/{{brand.slug}}"> <span class="pull-right">({{brand.numbers_of_products}})</span>{{brand.name}}</a></li>
									{%endfor%}
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{%static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						{%for product in products%}
						{%if product.labels == "hot" %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">

								<div class="single-products">
										<a href="/product/{{product.slug}}">
										<div class="productinfo text-center">
											<img src="{{product.image.url}}" alt="" />
											<h2>${{product.price}}</h2>
											<p>{{product.name}}</p>
											<a href="add_to_cart/{{product.slug}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>

<!--										<div class="product-overlay">-->
<!--											<div class="overlay-content">-->
<!--												<h2>${{product.price}}</h2>-->
<!--												<p>{{product.name}}</p>-->
<!--												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
<!--											</div>-->
<!--										</div>-->
											</a>
								</div>

								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						{%endif%}
						{%endfor%}
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#Sportswear" data-toggle="tab">Sportswear</a></li>
								<li><a href="#Mens" data-toggle="tab">Mens</a></li>
								<li><a href="#Womens" data-toggle="tab">Womens</a></li>
								<li><a href="#kids" data-toggle="tab">Kids</a></li>
								<li><a href="#Fashion" data-toggle="tab">Fashion</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="Sportswear" >

							{%for product in products%}

<!--using product.category.name because category is an reference to a model and we can't check it like product.category.name-->
							{%if product.category.name == "Sportswear" %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<a href="/product/{{product.slug}}">
											<div class="productinfo text-center">
												<img src="{{product.image.url}}" alt="" />
												<h2>${{product.price}}</h2>
												<p>{{product.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											</a>
										</div>
									</div>
								</div>
							{%endif%}
							{%endfor%}

							</div>
							
							<div class="tab-pane fade" id="Mens" >
							{%for product in products%}

<!--using product.category.name because category is an reference to a model and we can't check it like product.category.name-->
							{%if product.category.name == "Mens" %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<a href="/product/{{product.slug}}">
											<div class="productinfo text-center">
												<img src="{{product.image.url}}" alt="" />
												<h2>${{product.price}}</h2>
												<p>{{product.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											</a>
										</div>
									</div>
								</div>
							{%endif%}
							{%endfor%}
							</div>
							
							<div class="tab-pane fade" id="Womens" >
							{%for product in products%}
							{%if product.category.name == "Womens" %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<a href="/product/{{product.slug}}">
											<div class="productinfo text-center">
												<img src="{{product.image.url}}" alt="" />
												<h2>${{product.price}}</h2>
												<p>{{product.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											</a>
										</div>
									</div>
								</div>
							{%endif%}
							{%endfor%}

							</div>
							
							<div class="tab-pane fade" id="kids" >
								{%for product in products%}
							{%if product.category.name == "Kids" %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<a href="/product/{{product.slug}}">
											<div class="productinfo text-center">
												<img src="{{product.image.url}}" alt="" />
												<h2>${{product.price}}</h2>
												<p>{{product.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											</a>
										</div>
									</div>
								</div>
								{%endif%}
								{%endfor%}
							</div>
							
							<div class="tab-pane fade" id="Fashion" >
								{%for product in products%}
							{%if product.category.name == "Fashion" %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<a href="/product/{{product.slug}}">
											<div class="productinfo text-center">
												<img src="{{product.image.url}}" alt="" />
												<h2>${{product.price}}</h2>
												<p>{{product.name}}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											</a>
										</div>
									</div>
								</div>
								{%endif%}
								{%endfor%}
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{%for item in recommended_1%}
									{%if forloop.counter <= 3%}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
											<a href="/product/{{item.slug}}">
												<div class="productinfo text-center">
													<img src="{{item.image.url}}" alt="" />
													<h2>${{item.price}}</h2>
													<p>{{item.name}}</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
											</a>
											</div>
										</div>
									</div>
									{%endif%}
									{%endfor%}
								</div>
								<div class="item">
									{%for itemm in recommended_2%}
									{%if forloop.counter <= 3%}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
											<a href="/product/{{itemm.slug}}">
												<div class="productinfo text-center">
													<img src="{{itemm.image.url}}" alt="" />
													<h2>${{itemm.price}}</h2>
													<p>{{itemm.name}}</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
											</a>
											</div>
										</div>
									</div>
									{%endif%}
									{%endfor%}
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>

    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{%endblock%}